.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
    /* outline: 5px solid burlywood; */
}


body {
    background-color: #191919;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__list{
    padding-left: 150px;
    display: flex;
    gap: 225px;
}

.header__link{
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.28px;
}

.reaper{
    padding-top: 50px;
}


.reaper__box{
display: flex;               
align-items: flex-start;     
gap: 20px;
}

.reaper__img{
    width: 600px;

}

.reaper__div{
    padding: 20px;
    margin-top: 10px;
    margin-left: 50px;
}

.reaper__title{
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 25px;
}

.reaper__text{
    color: aliceblue;
    font-size: 25px;
    max-width: 600px;
    line-height: 1.4;
}


.crow{
    padding-top: 50px;
}

.crow__box{
    display: flex;               
    align-items: flex-start;
gap: 20px;
}


.crow__div{
    padding: 20px; 
    margin-top: 10px;
    padding-left: 100px;
}


.crow__img{
    width: 600px;
    /* margin-left: 300px; */
}

.crow__title{
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 25px;
}

.crow__text{
    color: aliceblue;
    font-size: 25px;
    max-width: 600px;
    line-height: 1.4;
}


.knight{
    padding-top: 50px;
}

.knight__box{
    display: flex;               
    align-items: flex-start;     
    gap: 20px;
}


.knight__img{
    width: 550px;
}

.knight__div{
    padding: 20px;
    margin-top: 5px;
    /* margin-left: 50px; */
}

.knight__title{
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 10px;
}

.knight__text{
    color: aliceblue;
    font-size: 25px;
    max-width: 720px;
    line-height: 1.4;
}




.void{
    padding-top: 50px;
}

.void__box{
    display: flex;               
    align-items: flex-start;
gap: 20px;
}

.void__div{
    padding: 20px; 
    margin-top: 10px;
    /* padding-left: 100px; */
}

.void__title{
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 25px;
}

.void__text{
    color: aliceblue;
    font-size: 25px;
    max-width: 720px;
    line-height: 1.4;
}

.void__img{
    width: 600px;
}

.dragon{
    padding-top: 50px;
}

.dragon__box{
    display: flex;               
    align-items: flex-start;     
    gap: 20px;
}

.dragon__img{
    width: 600px;
    height: 700px;
}

.dragon__div{
    padding: 20px;
    margin-top: 10px;
    /* margin-left: 50px; */
}

.dragon__title{
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 25px;
}

.dragon__text{
    color: aliceblue;
    font-size: 25px;
    max-width: 800px;
    line-height: 1.4;
}

.samurai{
    padding-top: 50px;
    padding-bottom: 50px;
}

.samurai__box{
    display: flex;               
    align-items: flex-start;
gap: 20px;
}

.samurai__div{
    padding: 20px; 
    margin-top: 10px;
}

.samurai__title{
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 25px;
}

.samurai__text{
    color: aliceblue;
    font-size: 25px;
    max-width: 600px;
    line-height: 1.4;
}

.samurai__img{
    width: 600px;
    height: 700px;
}